/* Helpers */

.row-reverse {
  flex-direction: row-reverse;
}

.bg-size-cover {
  background-size: cover;
}

.bg-size-contain {
  background-size: contain;
}

.bg-position-center {
  background-position: center;
}

.two-rem {
  font-size: 2rem;
}

.four-rem {
  font-size: 4rem;
}

.prociono {
  font-family: "Prociono", serif;
}

.STIXTwo {
  font-family: "STIXTwo", serif;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.clip_towards_left {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
}

.clip_towards_right {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}

.clip_towards_right_pointed_bottom {
  clip-path: polygon(0 0, 100% 0, 100% 52%, 23% 100%, 0 78%);
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.object-fit-contain {
  object-fit: contain !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-center {
  text-align: center !important;
}

.margin-auto {
  margin: auto;
}

@media only screen and (max-width: 1224px) {
  .clip_towards_left {
    clip-path: unset;
  }
  .clip_towards_right {
    clip-path: unset;
  }
  .clip_towards_right_pointed_bottom {
    clip-path: unset;
  }
}

@media only screen and (max-width: 767px) {
  .clip_towards_left {
    clip-path: unset;
  }
  .clip_towards_right {
    clip-path: unset;
  }
  .clip_towards_right_pointed_bottom {
    clip-path: unset;
  }
}
